<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Exercises</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Session Exercises</h1>
    <section class="centered">
        <form action="/" method="GET">
            <h2>Guessing game.</h2>
            <section class="centered">
                <button name="try_again" value="again">Play Again</button>
            </section>
        </form>
    </section>
    <hr>
    <p class="feedback">{{message}}</p>
</body>
</html>